.landingpage {
  height: 100vh;
  gap: 10px;

  &__appbar {
    top: 0;
    position: sticky;
    z-index: 100;
  }
  &__appbar__label {
    color: gray;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #5585b5 0%,
      #53a8b6 29%,
      #79c2d0 67%,
      #bbe4e9 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
  }

  &__notif-label {
    &.MuiTypography-root {
      font-size: large;
    }
  }
  &__notif-icon {
    cursor: pointer;
  }
}

.landingpage-body {
  min-height: 100vh;

  font-family: 'Roboto';
  color: #0f1035;
  text-align: center;
  background-color: #dcf2f1;
  flex: 1;

  display: flex;
  flex-direction: column;
  position: sticky;
  font-size: xx-large;
  padding: 80px 45px 40px;

  &__addbtn {
    display: flex;
    align-self: self-end;
    margin-bottom: 15px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.todolist-form {
  border-radius: 10px;
  margin-top: 5%;
  height: auto;
  width: 30%;
  margin-left: 35%;
  background: linear-gradient(#ffffff, #e3f6f5, #8bf2f2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
  padding: 20px;

  &__label {
    width: 95%;
  }

  &__closebtn {
    display: flex;
    align-self: flex-start;
    margin-left: 92%;
    cursor: pointer;
  }

  &__timepickers {
    display: flex;
  }
}
.drawer {
  padding: 5px 10px 5px 10px;
  &__close-btn {
    display: flex;
    justify-content: end;
    width: 100%;
    cursor: pointer;
  }
  &__event-btn {
    height: 500%;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  &__btn-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;

    height: 60%;
  }
  &__tab1 {
    &.MuiButtonBase-root {
      font-size: large;
      display: flex;
      text-align: left;
      height: 50px;
      padding: 10px;

      border: 2px solid white;
      border-radius: 15px;
      &:hover {
        background-color: lightgreen;

        transform: translateY(-3px);
      }
    }
  }
  &__tab2 {
    &.MuiButtonBase-root {
      font-size: large;
      display: flex;
      text-align: left;
      height: 50px;
      padding: 10px;

      border: 2px solid white;
      border-radius: 15px;
      &:hover {
        background-color: lightblue;
        transform: translateY(-3px);
      }
    }
  }
  &__tab3 {
    &.MuiButtonBase-root {
      font-size: large;
      display: flex;
      text-align: left;
      height: 50px;
      padding: 10px;

      border: 2px solid white;
      border-radius: 15px;
      &:hover {
        background-color: lightcoral;
        transform: translateY(-3px);
      }
    }
  }
  &__tab4 {
    &.MuiButtonBase-root {
      font-size: large;
      display: flex;
      text-align: left;
      height: 50px;
      padding: 10px;

      border: 2px solid white;
      border-radius: 15px;
      &:hover {
        background-color: #101322;
        transform: translateY(-3px);
      }
    }
  }
}

.morevert_container {
  display: flex;
  justify-content: end;
}
.map-container {
  width: 500px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-bottom: 15px;
  text-align: left;
  font-size: 25px;
  padding: 10px 14px 10px 15px;
}
.date-created {
  &.MuiBox-root {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: medium;

    width: 80%;
    height: 30px;
  }
}
.events-container {
  padding: 15px;
  &__print-container {
    & .MuiPaper-root {
   

      box-shadow: inset -3px -3px 5px #666666, inset 1px 1px 4px #666666;
      border-block-start: solid 30px #d4ba78;

      // border-block-end: solid 1px white;
      width: 23%;
      height: auto;
      display: inline-block;
      border-radius: 20px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: translateY(-10px);
      }
    }
    &__ongoing {
      gap: 40px;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      margin-bottom: 20px;
      text-align: left;
      font-size: 25px;
      padding: 20px 0px 0px 20px;
    }

    &__finished {
      gap: 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      margin-bottom: 20px;
      text-align: left;
      font-size: 25px;
      padding: 20px 15px 10px 70px;
      & .MuiPaper-root {
        box-shadow: inset -3px -3px 5px #666666, inset 1px 1px 4px #666666;
        // border-block-start: solid 30px #d4ba78;
      }
    }

    &__failed {
      & .MuiPaper-root {
        width: 100%;

        box-shadow: inset -3px -3px 5px #666666, inset 1px 1px 4px #666666;
      }
      gap: 10px;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-size: 20px;
      padding: 10px 14px 10px 15px;
    }
  }
}
.G_logo {
  height: 100%;
  width: 100%;
  &__logo-picture {
    width: 100%;
    &:hover {
      transition: all 2s;
      transform: rotateY(360deg);
    }
  }
}
.nodatafound-picture {
  height: 100%;
  width: 35%;
  margin-left: 33%;
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 49.1%;
  top: 10px;
  z-index: 1;
  margin-left: 120px;
}

.pin:after {
  background-color: red;
  background-image: radial-gradient(
    25% 25%,
    circle,
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 0%, 0.3)
  );
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1),
    inset 3px 3px 3px hsla(0, 0%, 100%, 0.2),
    inset -3px -3px 3px hsla(0, 0%, 0%, 0.2),
    23px 20px 3px hsla(0, 0%, 0%, 0.15);
  content: '';
  height: 12px;
  left: -5px;

  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}





.menu-item {
  display: flex;
  gap: 10px;
}
.grey-bg {
  background-color: grey;
}
.taskzoommodal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  &__task_modal {
    padding: 30px;
    font-size: 30px;
    height: auto;
    width: 50%;
    border-radius: 20px;
    border-block-start: solid 30px #d4ba78;
    border-block-end: solid 1px white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  &__closebtn {
    display: flex;
    align-self: flex-start;
    margin-left: 95%;
    cursor: pointer;
  }
  &__date-created {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    font-size: x-large;

    width: 50%;
    height: 40px;
    margin-left: 50%;
  }
}


.pins {
  background-color: #aaa;
  display: block;
  height: 40px;
  width: 3px;
  position: absolute;
  left: 49.1%;
  top: 40%;
  z-index: 1;
  margin-left: -21%;
}

.pins:after {
  background-color: red;
  background-image: radial-gradient(
    25% 25%,
    circle,
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 0%, 0.3)
  );
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1),
    inset 3px 3px 3px hsla(0, 0%, 100%, 0.2),
    inset -3px -3px 3px hsla(0, 0%, 0%, 0.2),
    23px 20px 3px hsla(0, 0%, 0%, 0.15);
  content: '';
  height: 20px;
  left: -8.5px;

  position: absolute;
  top: -10px;
  width: 20px;
}

.pins:before {
  background-color: hsla(0, 0%, 0%, 0.1);
  box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 12px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

